.loader-wrapper {
  border-radius: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(2px);
  /* z-index: 5; */
  /* background-color: rgba(0, 0, 0, 0.3); */
}

.center {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
